Source: rgaps-xfwm-theme
Section: devel
Priority: optional
Maintainer: Develop Team <develop@home.heaven>
Build-Depends: debhelper (>= 9),
               make
Standards-Version: 4.5.0
Homepage: https://samwhelp.github.io/rgaps-theme-collection/
Vcs-Browser: https://github.com/samwhelp/rgaps-theme-collection
Vcs-Git: https://github.com/samwhelp/rgaps-theme-collection.git

Package: rgaps-xfwm-theme
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Rgaps Xfwm Theme
 Rgaps Theme For Xfwm.
